@import url('https://api.fonts.coollabs.io/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --white: #f0f1f2;
  --bg-dark: #1e2126;
  --bg-medium: #262a30;
  --bg-lighter: #363c44;
  --accent: #87c7a1;
  --accent2: #bc83e3;
  --accent3: #70b9cc;

  --extra-small-size-fluid: clamp(0.5rem, 1vw, 0.75rem);
  --small-size-fluid: clamp(1rem, 2vw, 1.5rem);
  --medium-size-fluid: clamp(2rem, 4vw, 3rem);
  --large-size-fluid: clamp(2.5rem, 6vw, 4.5rem);
  --extra-large-size-fluid: clamp(8rem, 10vw + 1rem, 10rem);

  --border-radius: 8px;

  --box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* links that don't have a class */
a:not([class]) {
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

/* any focusable element */
:focus-visible {
  --outline-size: max(2px, 0.15em);
  --outline-style: dashed;

  outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid)
  var(--outline-color, currentColor);
  outline-offset: var(--outline-offset, var(--outline-size));
}

/* Scroll padding allowance above anchor links */
:target {
  scroll-padding-block-start: var(--small-size-fluid);
}

/* Scroll padding allowance below focused elements 
  to ensure they are clearly in view */
:focus {
  scroll-padding-block-end: 8vh;
}

/* Main Components */

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.75rem;

  background-color: var(--bg-medium);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background-color: var(--bg-lighter);

  border: 2px solid var(--bg-medium);
}

body {
  font-family: 'Poppins';
  color: var(--white);

  background-color: var(--bg-dark);
}

/* Disable all animations for people that prefer without it */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 50ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 50ms !important;
    scroll-behavior: auto !important;
  }
}
